*{
	margin: 0;
	padding: 0;
}

header{
	background: blueviolet;
	text-align: center;
	padding: 10px;
	color: white;
}

body{
	height: 100%;
	width: 100%;

}

main{
	display: flex;
	flex-direction: row;
	justify-content: space-around;

}

textarea{
	resize: none;
}

#textoIngresado{
	margin-top: 1em;
	margin-left: 2%;
}

#textoIngresado .txtIngre{
	text-align: center;

}

#textoIngresado .botonesTxt{
	display: flex;
	justify-content: space-around;
}

#textoResultado{
	position: relative;
	margin-top: 1em;
}

#textoResultado .resultado{
	text-align: center;
}

.resultado .tituloCajaEncrip{
	display: flex;
	justify-content: space-around;
	margin-bottom: 2%;

}

.resultado .tituloCajaEncrip img{
	width: 20px;
	height: 20px;
}

.resulTexto{
	border: 1px solid black;
}

button{
	background: blue;
	border-radius: 5px;
	color: white;
	width: 10em;
	margin-top: 1%;
}

.botonesEncrip{
	display: flex;
	justify-content: space-around;
}

.botonesEncrip .btonCo{
	justify-content: space-around;
	background: green;
	margin-top: 4%;
	width: 10em;
}


footer{
	background: blueviolet;
	text-align: center;
	margin: auto;
	margin-top: 2%;
	color: white;
	width: 100%;
	padding: 10px;
}

.visible{
	display: block;
}

button:hover{
	color: gold;
	font-size: 14px;
}